<% if @status.errors.any? %>
  <section id="errors">
    <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>
    <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @status do |f| %>
  <div class="form-group">
    <%= f.label :name %><br/>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :color_id %>
    <%= f.collection_select :color_id, Color.all, :id, :name, { prompt: "Choose Color..." }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Show on default view?" %>
    <%= f.check_box :default_view %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>