<h1>Statuses</h1>
<table class="table" id ="table_data">
  <thead>
    <th>Status</th>
    <th>Color</th>
    <th>Show on Default View?</th>
    <th>Considered to be Complete?</th>
  </thead>
  <tbody data-update-url="<%= sort_statuses_url %>">
  <% @statuses.each do |status| %>
    <%= content_tag_for :tr, status do %>
      <td><%= status.name %></td>
      <td><%= show_color(status) %></td>
      <td><%= show_on_default_view(status) %></td>
      <td><%= show_is_complete(status) %></td>
      <td><%= link_to status, class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-book" aria-hidden="true" title="Show Details"></span>
        <% end %>
      </td>
      <% if can? :update, status %>
      <td><%= link_to edit_status_path(status), class: "btn btn-info" do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Details"></span>
        <% end %>
      </td>
      <% end %>
      <% if can? :destroy, status %>
      <td><%= link_to status, method: :delete, data: { confirm: "WARNING!: DELETING A STATUS WILL REMOVE ALL TASKS ASSOCIATED WITH THIS STATUS!  CONSIDER UPDATING EXISTING TASKS TO A NEW STATUS FIRST!" },
        class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span>
        <% end %>
      </td>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to "New Status", new_status_path, class: "btn btn-success" %>
<%= link_to "Configuration", pages_index_path, class: "btn btn-info" %>