<h1>Status Details</h1>
<table class="table table-striped table-responsive table-hover">
  <thead>
    <th>Name</th>
    <th>Color</th>
    <th>Show on Default View?</th>
    <th>Considered to be Complete?</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @status.name %></td>
      <td><%= show_color(@status) %></td>
      <td><%= show_on_default_view(@status) %></td>
      <td><%= show_is_complete(@status) %></td>
    </tr>
  </tbody>
</table>
<p>
  <%= link_to "New status", new_status_path, class: "btn btn-success" %>
</p>
<%= link_to "All Statuses", statuses_path, class: "btn btn-info" %>
<%= link_to "Configuration", pages_index_path, class: "btn btn-info" %>