<%= form_for @task, html: { class: "dark-matter" } do |f| %>
  <h1>New Task 
      <span>Start by entering some basic information about the task</span>
  </h1>
  <label>
    <%= f.text_field :title, placeholder: "Title" %>
  </label>
  
  <label>
    <%= f.text_area :summary, rows: 8, placeholder: "Summary" %>
  </label>
  
  <label>
    <%= f.text_field :alternate_id, placeholder: "Alternate ID" %>  
  </label>
  
  <label>
    <%= f.collection_select :status_id, Status.all, :id, :name, { prompt: "Choose Status..." } %>
  </label>
  
  <label>
    <%= f.collection_select :product_id, Product.all, :id, :name, { prompt: "Choose Product..." } %>
  </label>

  <label>
    <%= f.collection_select :priority_id, Priority.all, :id, :name, { prompt: "Choose Priority..." } %>
  </label>
  
  <label>
    <span>&nbsp;</span> 
    <input type="button" class="btn btn-default" value="Submit" /> 
  </label>  
<% end %>