<%= form_for @task, html: { class: "form-inline" } do |f| %>

  <div class="form-group form-49">
    <%= f.label :title, "Title *" %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group form-49">
    <%= f.label :assigned_to, 'Assigned To *' %>
    <%= f.collection_select :assigned_to, User.all.where('name is not ?', nil), :id, :name,
      { selected: current_user.id } %>
  </div>

  <div class="form-group form-49">
    <%= f.label :tag_list, 'Tag List' %>
    <%= f.text_field :tag_list, value: @task.tag_list.to_s, class: "myTags" %>
  </div>

  <div class="form-group form-49">
    <%= f.label :alternate_id, 'Alternate ID#' %>
    <%= f.text_field :alternate_id, placeholder: "Alternate ID" %>
  </div>

  <div class="form-group form-49">
    <%= f.label :client, 'Client *' %>
    <% if !params[:client_id].blank? %>
      <%= f.collection_select :client_id, Client.all.order('position'), :id, :name, { selected: params[:client_id], prompt: "Choose Client...", name: "client" }, { class: "clientSelectList" } %>
    <% else %>
      <%= f.collection_select :client_id, Client.all.order('position'), :id, :name, { prompt: "Choose Client...", name: "client" }, { class: "clientSelectList" } %>
    <% end %>
    <div class="clientSelectAdd" style="display: none;">
      <a id="cancel-client" style="color:white" href="javascript:cancelClient()">Cancel</a><input placeholder="Enter new client name" type="text" name="task[client_name]" id="task_client_name">
    </div>
  </div>

  <div class="form-group form-49">
    <%= f.label :status, 'Status *' %>
    <%= f.collection_select :status_id, Status.all.order('position'), :id, :name, { prompt: "Choose Status..." }, { class: "statusSelectList" } %>
    <div class="statusSelectAdd form-group" style="display: none;">
      <a id="cancel-status" style="color:white" href="javascript:cancelStatus()">Cancel</a><input placeholder="Enter new status name" type="text" name="task[status_name]" id="task_status_name">
    </div>
  </div>

  <div class="form-group form-49">
    <%= f.label :product, 'Product *' %>
    <%= f.collection_select :product_id, Product.all.order('position'), :id, :name, { prompt: "Choose Product..." }, { class: "productSelectList" } %>
    <div class="productSelectAdd form-group" style="display: none;">
      <a id="cancel-product" style="color:white" href="javascript:cancelProduct()">Cancel</a><input placeholder="Enter new product name" type="text" name="task[product_name]" id="task_product_name">
    </div>
  </div>

  <div class="form-group form-49">
    <%= f.label :priority, 'Priority *' %>
    <%= f.collection_select :priority_id, Priority.all.order('position'), :id, :name, { prompt: "Choose Priority..."}, { class: "prioritySelectList" } %>
    <div class="prioritySelectAdd form-group" style="display: none;">
      <a id="cancel-priority" style="color:white" href="javascript:cancelPriority()">Cancel</a><input placeholder="Enter new priority name" type="text" name="task[priority_name]" id="task_priority_name">
    </div>
  </div>

  <div class="form-group form-49">
    <%= f.label :notify_email %>
    <%= f.text_field :notify_email, placeholder: "client.name@theclientsite.com", class: "tagEmail" %>
  </div>

  <div class="form-group form-49">
    <%= f.label :billable, 'Billable?' %>
    <%= f.check_box :billable %>
  </div>

  <%= f.hidden_field :project_id, value: params[:project_id] %>


  <br/>
   <div class="form-group form-49" style="display: block;">
     <button class="btn btn-default">Submit</button>
     <%= link_to "Cancel", tasks_path, class: "btn btn-warning" %>
   </div>
<% end %>

<script>
  $("#task_client_id").append('<option value=9999>Add New Client...</option>');
  $("#task_status_id").append('<option value=9999>Add New Status...</option>');
  $("#task_priority_id").append('<option value=9999>Add New Priority...</option>');
  $("#task_product_id").append('<option value=9999>Add New Product...</option>');

  $('select[name="task[client_id]"]').change(function() {
    if ($(this).val() == "9999") {
      $(".clientSelectList").hide();
      $(".clientSelectAdd").show();
      $('#cancel-client').show();
    }
  });

  $('select[name="task[status_id]"]').change(function() {
    if ($(this).val() == "9999") {
      $(".statusSelectList").hide();
      $(".statusSelectAdd").show();
      $('#cancel-status').show();
    }
  });

  $('select[name="task[priority_id]"]').change(function() {
    if ($(this).val() == "9999") {
      $(".prioritySelectList").hide();
      $(".prioritySelectAdd").show();
      $('#cancel-priority').show();
    }
  });

  $('select[name="task[product_id]"]').change(function() {
    if ($(this).val() == "9999") {
      $(".productSelectList").hide();
      $(".productSelectAdd").show();
      $('#cancel-product').show();
    }
  });

  function cancelClient() {
    $(".clientSelectList").show();
    $(".clientSelectAdd").hide();
    $(".clientSelectList").val('1');
    $('#cancel-client').hide();
  }

  function cancelStatus() {
    $(".statusSelectList").show();
    $(".statusSelectAdd").hide();
    $(".statusSelectList").val('1');
    $('#cancel-status').hide();
  }

  function cancelPriority() {
    $(".prioritySelectList").show();
    $(".prioritySelectAdd").hide();
    $(".prioritySelectList").val('1');
    $('#cancel-priority').hide();
  }

  function cancelProduct() {
    $(".productSelectList").show();
    $(".productSelectAdd").hide();
    $(".productSelectList").val('1');
    $('#cancel-product').hide();
  }

  $('.myTags').tagit({
  });

  $('.tagEmail').tagit({
  });

  $(document).ready(function()
  {
    $('.title-question').tooltipster();
  }
);

</script>
