<% if @tasks.count == 0 %>
  <h2>No tasks assigned to you with the given filter! <%= link_to "View All?", "/tasks/filters/all/alltasks" %></h2>
  <h3 style="color: black;">Read the <%= link_to "documentation", welcome_documentation_path, subdomain: false %> if you need help getting started.</h3>
  <hr/>
<% end %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tagcloud" aria-expanded="true" aria-controls="tagcloud">
          <strong><i class="fa fa-tags"></i> Tags</strong>
        </a>
      </h4>
    </div>
    <div id="tagcloud" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div id="tag_cloud">
          <% tag_cloud Task.tag_counts, ['label label-primary btn-xs','label label-success label-sm','label label-danger'] do |tag, css_class| %>
            <%= link_to tag_path(tag.name), class: css_class do %>
              <%= content_tag(:span, tag.name + " ").concat(content_tag(:span, tag.count, class: "badge")) %>
            <% end %>
          <% end %>
        </div>
        <br/>
        <p>* - Tags are defined when creating or editing a task.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#filters" aria-expanded="false" aria-controls="filters">
          <strong><i class="fa fa-th-large"></i> Filters</strong>
        </a>
      </h4>
    </div>
    <div id="filters" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="filters">
          <div class="row">
            <div class="col-md-3">
              <p><strong>Status</strong></p>
              <% @statuses.all.each do |status| %>
                <%= link_to "/tasks/filters/status/#{status.id}" do %>
                  <%= filter_status(status) %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-3">
              <p><strong>Priority</strong></p>
              <% @priorities.all.each do |priority| %>
                <%= link_to "/tasks/filters/priority/#{priority.id}" do %>
                  <%= filter_priority(priority) %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-3">
              <p><strong>Product</strong></p>
              <% @products.all.each do |product| %>
                <%= link_to "/tasks/filters/product/#{product.id}" do %>
                  <%= filter_product(product) %>
                <% end %>
              <% end %>
            </div>
          </div>
          <p>* - Filters are defined in the <%= link_to "configuration", pages_index_path %> settings.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="header"><%= link_to "Your Tasks", tasks_path %> <small><%= link_to "Show All", "/tasks/filters/all/all_tasks" %></small></h1>
<%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
<hr/>
<div class="table-responsive" id="task-list">
  <input class="search" placeholder="Quick Search" />
  <table class="table table-striped table-hover" id="sorted-table">
    <thead>
      <tr>
        <th class="table-medium"><i class="fa fa-sort"></i> ID</th>
        <th><i class="fa fa-sort"></i> Alt. ID</th>
        <th class="table-large"><i class="fa fa-sort"></i> Title</th>
        <th><i class="fa fa-sort"></i> Status</th>
        <th class="table-medium"><i class="fa fa-sort"></i> Client</th>
        <th><i class="fa fa-sort"></i> Product</th>
        <th><i class="fa fa-sort"></i> Priority</th>
        <th><i class="fa fa-sort"></i> Assigned To</th>
        <th class="table-large"><i class="fa fa-sort"></i> Date</th>
        <th><i class="fa fa-sort"></i> Time</th>
      </tr>
    </thead>
    <tbody class="list">
      <% @tasks.each do |task| %>
        <tr>
          <td class="sort-id"><%= label_id(task) %></td>
          <td class="sort-alternate-id"><%= label_alternate_id(task) %></td>
          <td class="sort-title"><%= task.title %></td>
          <td class="sort-status"><%= label_status(task) %></td>
          <td class="sort-client"><%= label_client(task) %></td>
          <td class="sort-product"><%= label_product(task)  %></td>
          <td class="sort-priority"><%= label_priority(task) %></td>
          <td class="sort-assigned-to"><%= mail_to(email_for(task), assigned_to(task)) %></td>
          <td class="sort-date"><%= label_date(task) %></td>
          <td class="sort-time"><%= show_time(task) %></td>
          <td><%= link_to task, class: "btn btn-primary" do %>
              <span class="glyphicon glyphicon-book" aria-hidden="true" title="Show Details"></span>
            <% end %>
          </td>
          <% if can? :update, @task %>
            <td><%= link_to edit_task_path(task), class: "btn btn-info" do %>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Details"></span>
              <% end %>
            </td>
          <% end %>
          <% if can? :destroy, @task %>
            <td><%= link_to task, method: :delete, data: { confirm: "Are you sure?" },
          class: "btn btn-danger" do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  var options = {
    valueNames: [ 'sort-id', 'sort-alternate-id', 'sort-title', 'sort-status', 'sort-status', 'sort-client', 'sort-product', 'sort-priority', 'sort-assigned-to', 'sort-date', 'sort-time' ]
  };

  var userList = new List('task-list', options);
</script>