<%= form_for(@todo_list) do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.submit "New Todo List", class: "btn btn-primary" %>
  </div>
<% end %>
