<h1>Client Details</h1>
<table class="table table-striped table-responsive table-hover">
  <thead>
    <th>Name</th>
    <th>Contact</th>
    <th>Connect Info</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @client.name %></td>
      <td><%= @client.contact %></td>
      <td><%= @client.connect_info %></td>
    </tr>
  </tbody>
</table>
<p>
  <%= link_to "New Client", new_client_path, class: "btn btn-success" %>
</p>
<%= link_to "All Clients", clients_path, class: "btn btn-info" %>
<%= link_to "Configuration", pages_index_path, class: "btn btn-info" %>