<h1><%= @client.name %></h1>
<h2>Contact Information</h2>
<p><%= simple_format(@client.contact) %></p>
<h2>Connection Information</h2>
<p><%= simple_format(@client.connect_info) %></p>
<p>
  <%= link_to "New Client", new_client_path, class: "btn btn-success" %>
</p>
<%= link_to "All Clients", clients_path, class: "btn btn-info" %>
<%= link_to "Configuration", pages_index_path, class: "btn btn-info" %>