<h1>Priority Listing</h1>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Color</th>
  </thead>
  <tbody>
  <% @priorities.each do |priority| %>
    <tr>
      <td><%= priority.name %></td>
      <td><%= priority.color.name %></td>
      <td><%= link_to priority, class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-book" aria-hidden="true" title="Show Details"></span>
        <% end %>
      </td>
      <td><%= link_to edit_priority_path(priority), class: "btn btn-info" do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Details"></span>
        <% end %>
      </td>
      <td><%= link_to priority, method: :delete, data: { confirm: "Are you sure?" },
        class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span>
        <% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Priority", new_priority_path, class: "btn btn-primary" %>
<%= link_to "Home", root_path, class: "btn btn-primary" %>