<%= tinymce_assets %>
<%= form_for([@task, @task_detail], html: { class: "dark-matter", id: "edit-detail" }) do |f| %>
  <h1>Edit Detail 
      <span>Enter case details and click save when done.</span>
      <span>Checking important will render the view in a red color.</span>
  </h1>
  <div id="timer"></div>
  <button class="btn btn-danger btn-sm timer-stop">Stop!</button>
  <button class="btn btn-success btn-sm timer-start">Start!</button>    
  <label>
    <%= f.text_area :body, class: "tinymce" %>
  </label>

  <label>
    <%= f.label :time_spent %>
    <%= f.number_field :time_spent, value: @task_detail.time_spent, class: "time-spent" %>
  </label>

  <label>
    <%= f.check_box :important %>
    Important?
  </label>
    
  <label>
    <span>&nbsp;</span> 
    <button class="btn btn-default">Save</button>
    <%= link_to "Cancel", @task, class: "btn btn-warning" %>
  </label>
<% end %>

<script>
  $('#timer').timer();

  $( "#edit-detail" ).submit(function( event ) {
    var timeSpent = $('#timer').data('seconds');
    console.log("Timer Data in seconds: " + timeSpent);
    timeSpent = parseInt(timeSpent / 60.0);
    console.log("Timer Data in minutes: " + timeSpent);
    var timeOriginallySpent = $("#task_detail_time_spent").val();
    console.log("Time originally spent: " + timeOriginallySpent);
    var totalSpent = parseInt(timeSpent) + parseInt(timeOriginallySpent);
    console.log("Total time spent: " + totalSpent);
    $("#task_detail_time_spent").val(totalSpent);
    return true;
  });

  $(".timer-stop").click( function(event) {
    event.preventDefault();
    $("#timer").timer("pause");
  });

  $(".timer-start").click( function(event) {
    event.preventDefault();
    $("#timer").timer("resume");
  });
</script>
<%= tinymce content_css: asset_path('tinymce.css')%>