<%= tinymce_assets %>
<%= form_for([@task, @task_detail], html: { class: "dark-matter", multipart: true }) do |f| %>
<% @task_details = @task.task_details.order("created_at") %>
  <h1>New Detail (Optional)
      <span>Enter case details and click save when done.</span>
      <span>Checking important will render the view in a red color.</span>
  </h1>
  <div id="timer" style="font-size: 1.2em;"></div>
    <button type="button" class="btn btn-sm btn-danger timer-stop" aria-label="Left Align">
      <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-sm btn-success timer-start" aria-label="Left Align">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <br/>
  <label>
    <%= f.text_area :body, class: "tinymce" %>
  </label>

  <label>
    <%= f.hidden_field :time_spent, value: @task_detail.time_spent %>
  </label>

  <label>
    <p>Attachment</p>
    <%= f.file_field :task_attachment %>
  </label>

  <label>
    <%= f.check_box :important %>
    Important?
  </label>

  <label>
    <span>&nbsp;</span>
    <button class="btn btn-default">Save</button>
    <%= link_to "Cancel", @task, class: "btn btn-warning" %>
  </label>
<% end %>

<% if @task_details.size > 0 %>
  <hr/>
  <h1>Previous Entries</h1>
  <% @task_details.each do |td| %>
    <%= show_detail(td) %>
  <% end %>
<% end %>

<script>
  $('#timer').timer();
  $( "#new_task_detail" ).submit(function( event ) {
    var timeSpent = $('#timer').data('seconds');
    timeSpent = timeSpent / 60.0;
    $("#task_detail_time_spent").val(timeSpent);
    return true;
  });
  $(".timer-stop").click( function(event) {
    event.preventDefault();
    $("#timer").timer("pause");
  });
  $(".timer-start").click( function(event) {
    event.preventDefault();
    $("#timer").timer("resume");
  });
</script>
<%= tinymce content_css: asset_path('tinymce.css')%>