<%= form_for([@task, @task_detail], html: { class: "dark-matter", multipart: true }) do |f| %>
  <h1>New Detail 
      <span>Enter case details and click save when done.</span>
      <span>Checking important will render the view in a red color.</span>
  </h1>
  <div id="timer"></div>
    <button class="btn btn-danger btn-sm timer-stop">Stop!</button>
    <button class="btn btn-success btn-sm timer-start">Start!</button>
  <label>
    <%= f.text_area :body, class: "tinymce" %>
  </label>

  <label>
    <%= f.hidden_field :time_spent, value: @task_detail.time_spent %>
  </label>

  <label>
    <p>Attachment</p>
    <%= f.file_field :task_attachment %>
  </label>

  <label>
    <%= f.check_box :important %>
    Important?
  </label>

  <label>
    <span>&nbsp;</span> 
    <button class="btn btn-default">Save</button>
    <%= link_to "Cancel", @task, class: "btn btn-warning" %>
  </label>  
<% end %>
<%= tinymce_assets %>

<% if @task.task_details.count > 0 %>
  <hr/>
  <h1>Previous Entries</h1>
  <% @task.task_details[0, @task.task_details.size-1].each do |td| %>
    <%= show_detail(td) %>
  <% end %>
<% end %>

<script>
  $('#timer').timer();
  $( "#new_task_detail" ).submit(function( event ) {
    var timeSpent = $('#timer').data('seconds');
    timeSpent = timeSpent / 60.0;
    $("#task_detail_time_spent").val(timeSpent);
    return true;
  });
  $(".timer-stop").click( function(event) {
    event.preventDefault();
    $("#timer").timer("pause");
  });
  $(".timer-start").click( function(event) {
    event.preventDefault();
    $("#timer").timer("resume");
  });  
</script>
<%= tinymce %>