<h1>New Project</h1>
<%= form_for @project do |f| %>
  <div class="form-group">
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= f.label :client_id %><br>
  <%= f.collection_select :client_id, Client.all.order('name'), :id, :name, { prompt: "Choose Client..." }, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= f.label "Project Manager" %><br>
  <%= f.collection_select :user_id, User.all.where('name is not ?', nil), :id, :name,
      { selected: current_user.id }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Allotted time in minutes" %><br>
    <%= f.number_field :allotted_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date, class: "form-control" %><br>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>