<h1>Generate Billing Total Report</h1>
<p>This report will generate a billing report for a client based on the time spent for the specified period.</p>
<p>All dates are from and to midnight.</p>
<%= form_tag billings_path, id: "billing" do |f| %>
  <div class="form-group">
    <%= label_tag 'start_date' %><br/>
    <%= date_field_tag 'start_date', nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag 'end_date' %><br/>
    <%= date_field_tag 'end_date', nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag 'pay_rate' %><br/>
    <%= number_field_tag 'pay_rate', nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag 'client' %><br/>
    <%= select_tag 'client', options_from_collection_for_select(Client.order('position'), "id", "name"), class: "form-control", prompt: "Choose Client..." %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>

<script>
$(document).ready(function () {
    $("#client").append('<option value=99999>* - Bill All...</option>');
    $('#billing').validate({
        rules: {
            start_date: {
                required: true
            },
            end_date: {
                required: true
            },
            pay_rate: {
              required: true
            },
            client: {
              required: true
            }
        }
    });

});
</script>