<script src="excellentexport.js"></script>
<h1>Billing Total Report</h1>
<% @start_date = params[:start_date] %>
<% @end_date = params[:end_date] %>
<% @pay_rate = params[:pay_rate].to_f %>
<% @client = params[:client].to_i %>
<table class="table table-striped table-hover table-responsive">
  <thead>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Pay Rate</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @start_date %></td>
      <td><%= @end_date %></td>
      <td><%= number_to_currency @pay_rate %></td>
    </tr>
  </tbody>
</table>
<h2>Cases billed for:</h2>
<table class="table table-striped table-hover table-responsive" id="billing">
  <thead>
    <th>Client</th>
    <th>ID</th>
    <th>Alt. ID</th>
    <th>Title</th>
    <th>Detail Text</th>
    <th align="center">Time Spent (Minutes)</th>
  </thead>
  <tbody>
    <% @total_minutes = 0 %>
    <% @task_details.each do |td| %>
      <% next if td.task.nil? %>
      <% if td.task.billable && (td.task.client_id == @client || @client == 99999) %>
        <% @total_minutes += td.time_spent %>
        <tr>
          <td><%= td.task.client.name %></td>
          <td><%= td.task.id %></td>
          <td><%= td.task.alternate_id %></td>
          <td><%= td.task.title.html_safe %></td>
          <td><%= truncate(sanitize(strip_tags(td.body)), length: 75, separator: " ") %></td>
          <td><%= td.time_spent %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <thead>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Total (Hours): <%= number_with_precision(@total_minutes / 60.0, precision: 2) %></th>
  </thead>
  <thead>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Amount Owed: <%= number_to_currency ((@total_minutes / 60.0) * @pay_rate) %></th>
  </thead>
</table>
<a download="<%= Time.now.strftime("%Y%m%d%H%M%S")%>billingreport.xls" href="#"
  onclick="return ExcellentExport.excel(this, 'billing', 'Billing');"
  class="btn btn-primary"><i class="fa fa-file-excel-o fa-lg"> Export to Excel</i></a>
<br/>
<br/>
<a download="<%= Time.now.strftime("%Y%m%d%H%M%S")%>billingreport.csv" href="#"
  onclick="return ExcellentExport.csv(this, 'billing');"
  class="btn btn-primary"><i class="fa fa-file-text-o fa-lg"> Export to CSV</i></a>
