<h1>Advanced Search</h1>

<%= form_for @search do |f| %>
  <div class="well search">
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :task_id, "Task ID" %>
      <%= f.number_field :task_id, min: 1, class: "form-control" %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :alternate_id, "Alternate ID" %>
      <%= f.text_field :alternate_id, class: "form-control" %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>    
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :keywords, "Detail Search" %>
      <%= f.text_field :keywords, class: "form-control" %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :status_id %>
      <%= f.collection_select :status_id, Status.all.order('position'), :id, :name, { prompt: "Choose Status..." }, { class: "form-control" } %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :product_id %>
      <%= f.collection_select :product_id, Product.order('position'), :id, :name, { prompt: "Choose Product..." }, { class: "form-control" } %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :priority_id %>
      <%= f.collection_select :priority_id, Priority.order('position'), :id, :name, { prompt: "Choose Priority..." }, { class: "form-control" } %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :client_id %>
      <%= f.collection_select :client_id, Client.order('position'), :id, :name, { prompt: "Choose Client..."}, { class: "form-control" } %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :assigned_to %>
      <%= f.collection_select :assigned_to, User.order('name'), :id, :name, { prompt: "Choose User..." }, { class: "form-control" } %>
    </div>      
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :created_by %>
      <%= f.collection_select :created_by, User.order('name'), :id, :name, { prompt: "Choose User..." }, { class: "form-control" } %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :project_id %>
      <%= f.collection_select :project_id, Project.order('title'), :id, :title, { prompt: "Choose Project..." }, { class: "form-control" } %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :billable %>
      <div>
        <%= f.check_box :billable %>
      </div>
    </div>        
  </div>

</div>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
