<%= form_for @product do |f| %>
  <div class="form-group">
    <%= f.label :name %><br/>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :color_id %><br/>
    <%= f.collection_select :color_id, Color.all, :id, :name, { prompt: "Choose Color..." }, class: "form-control" %>
  </div>  
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
<%= link_to "All Clients", clients_path, class: "btn btn-info" %>
<%= link_to "Configuration", pages_index_path, class: "btn btn-info" %>