<h1>Product Listing</h1>
<table class="table table-striped table-hover table-responsive" id="position_products">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Color</th>
  </thead>
  <tbody data-update-url="<%= sort_products_url %>">
  <% @products.each do |product| %>
    <%= content_tag_for :tr, product do %>
      <td><i class="fa fa-arrows-alt"></i></td>
      <td><%= product.name %></td>
      <td><%= show_color(product) %></td>
      <td><%= link_to product, class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-book" aria-hidden="true" title="Show Details"></span>
        <% end %>
      </td>
      <% if can? :update, product %>
      <td><%= link_to edit_product_path(product), class: "btn btn-info" do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Details"></span>
        <% end %>
      </td>
      <% end %>
      <% if can? :destroy, product %>
      <td><%= link_to product, method: :delete, data: { confirm: "WARNING!: DELETING A PRODUCT WILL REMOVE ALL TASKS ASSOCIATED WITH THIS PRODUCT!  CONSIDER UPDATING EXISTING TASKS TO A NEW PRODUCT FIRST!" },
        class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span>
        <% end %>
      </td>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
<p>Drag and drop on <i class="fa fa-arrows-alt"></i> to change sort order.</p>
<%= link_to "New Product", new_product_path, class: "btn btn-success" %>
<%= link_to "Configuration", pages_index_path, class: "btn btn-info" %>