<header class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fa fa-home fa-lg"></i>
        <% end %>
      </div>
      <% if user_signed_in? %>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-file-o fa-lg">&nbsp;</i>New <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to new_task_path do %>
                  <i class="fa fa-file-text-o fa-lg">&nbsp;</i>
                  Task
                <% end %>
              </li>
              <li>
                <%= link_to new_project_path do %>
                  <i class="fa fa-list-ol fa-lg">&nbsp;</i>
                  Project
                <% end %>
              </li>              
            </ul>
          </li>
          <li>
            <%= link_to projects_path do %>
              <i class="fa fa-folder-o fa-lg">&nbsp;</i>Projects
            <% end %>
          </li>          
          <li>
            <%= link_to pages_index_path do %>
              <i class="fa fa-cog fa-lg">&nbsp;</i>Configuration
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bar-chart fa-lg">&nbsp;</i>Reports <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to new_billing_path do %>
                  <i class="fa fa-money fa-log">&nbsp;</i>
                  Billing
                <% end %>
              </li>
              <!--<li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>-->
            </ul>
          </li>
        </ul>
        <%= form_tag search_tasks_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search!", size: 15 %>
          </div>
            <%= submit_tag "Search", name:nil, class: "btn btn-default" %>
        <% end %>
      <% end %>        
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to welcome_documentation_path do %>
                <i class="fa fa-question-circle fa-lg">&nbsp;</i>Help!
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: 'delete' do %>            
                <i class="fa fa-sign-out fa-lg">&nbsp;</i>Sign Out
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="fa fa-users">&nbsp;</i>Users
              <% end %>
            </li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>