<!DOCTYPE html>
<html>
<head>
  <title>Task Clash</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'tcfavicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert-message <%= bootstrap_class_for(type) %> fade in">
      <button class="close" data-dismiss="alert">×</button>
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
</div>
<script>
  $(document).ready(function()
    {
      $("#sorted-table").tablesorter();
      $('.tooltip').tooltipster();
    }
  );
</script>
<%= debug(params) if Rails.env.development? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65246540-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script>
    $('document').ready(function() {
      setTimeout(function() {
        $('.alert-message').slideUp();
      }, 3500);
    });  
  </script>
</body>
</html>
