<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <h2>Create an Account</h2>

    <%= simple_form_for @account do |f| %>
      <%= f.fields_for :owner do |o| %>
        <%= o.input :name, required: true %>
        <%= o.input :email, required: true %>
        <%= o.input :password, required: true %>
        <%= o.input :password_confirmation, required: true %>
      <% end %>

      <%= f.input :subdomain, label: "Subdomain - you will access your account through the subdomain you choose <dot> taskclash.com.  Example: example.taskclash.com" do %>
        <div class="input-group">
          <%= f.input_field :subdomain, class: 'form-control' %>
          <span class="input-group-addon">.taskclash.com</span>
        </div>
      <% end %>
      <% if @account.stripe_card_token %>
        Credit card has been provided.
      <% else %>
        <div class="input-group">
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil, name: nil, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
          <%= text_field_tag :card_code, nil, name: nil, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
        </div>
      <% end %>
      <div id="stripe_error">
        <noscript>
          JavaScript is not enabled and is required for this form.  First enable it in your web browser settings.
        </noscript>
      </div>
      <%= f.hidden_field :plan_id, value: @plan_id %>
      <%= f.hidden_field :stripe_card_token %>
      <%= f.button :submit, class: 'btn-primary' %>
    <% end %>
  </div>
</div>
